// Habilidades
.container
  h2.header.text_b  Habilidades 
  |         
  .habilidades
    .habilidad
      h5 Photoshop
      |                 
      .progress
        .progress-bar(style='width: 90%')
    |             
    .habilidad
      h5 Illustrator
      |                 
      .progress.progress-indigo
        .progress-bar(style='width: 90%')
    |             
    .habilidad
      h5 HTML
      |                 
      .progress.progress-orange
        .progress-bar(style='width: 90%')
    |             
    .habilidad
      h5 CSS
      |                 
      .progress.progress-purple
        .progress-bar(style='width: 90%')
    |             
    .habilidad
      h5 PHP
      |                 
      .progress.progress-alt
        .progress-bar(style='width: 22%')
    |             
    .habilidad
      h5 C++
      |                 
      .progress.progress-indigo
        .progress-bar(style='width: 90%')
    |             
    .habilidad
      h5 Swift &amp; Objetive-C
      |                 
      .progress.progress-green
        .progress-bar(style='width: 50%')
    |             
    .habilidad
      h5 Android
      |                 
      .progress.progress-red
        .progress-bar(style='width: 40%')
    |             
    .habilidad
      h5 Wordpress
      |                 
      .progress
        .progress-bar(style='width: 90%')
