// Hero
#index-banner.section.no-pad-bot
  .container
    h1.text_h.center.header.cd-headline.letters.type
      span Botgard
      |               
      span
        h3 Web - Dev - Blog
    |           
    .scroll-down(style='text-align:center')
      a.btn-floating.btn-large.waves-effect.waves-ripple.red(href='#intro')
        i.mdi.mdi-arrow-down
