#work.section.scrollspy
  .container
    h2.header.text_b(style='text-align:center') Portafolio 
    |         
    .row
      .mdl-card.mdl-shadow--2dp.demo-card-square.card.medium
        .card
          .card-image.waves-effect.waves-block.waves-light
            img.activator(src='public/img/MToast.png')
          |                     
          .card-content
            span.card-title.activator.grey-text.text-darken-4
              | Material Toast 
              i.mdi-navigation-more-vert.right
            |                         
            p
              a(href='http://blog.botgard.com') Project link
          |                     
          .card-reveal
            span.card-title.grey-text.text-darken-4
              | Material Toast 
              i.mdi-navigation-close.right
            |                         
            p Just a Material Design Wordpress theme.
      |             
      .demo-card-square.mdl-card.mdl-shadow--2dp
        .mdl-card__title.mdl-card--expand
          h2.mdl-card__title-text Update
        |               
        .mdl-card__supporting-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          | Aenan convallis.
        |               
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
            | View Updates
      |             
      .mdl-card.mdl-shadow--2dp.demo-card-square.card.medium
        .card
          .card-image.waves-effect.waves-block.waves-light
            img.activator(src='public/img/REDPortafolio.png')
          |                     
          .card-content
            span.card-title.activator.grey-text.text-darken-4
              | iRedcons 
              i.mdi-navigation-more-vert.right
            |                         
            p
              a(href='#') Project link
          |                     
          .card-reveal
            span.card-title.grey-text.text-darken-4
              | iRedcons 
              i.mdi-navigation-close.right
            |                         
            p Coming soon...
      |             
      .mdl-card.mdl-shadow--2dp.demo-card-square.card.medium
        .card
          .card-image.waves-effect.waves-block.waves-light
            img.activator(src='public/img/EASEPortafolio.png')
          |                     
          .card-content
            span.card-title.activator.grey-text.text-darken-4
              | EASE Theme 
              i.mdi-navigation-more-vert.right
            |                         
            p
              a(href='http://cydia.saurik.com/package/com.macciti.ease/') Project link
          |                     
          .card-reveal
            span.card-title.grey-text.text-darken-4
              | EASE theme for iOS 
              i.mdi-navigation-close.right
            |                         
            p EASE es un tema nuevo impresionante para el iPhone y el iPod. Pronto iPad.
    |         
    .col-xx-6(style='text-align:center')
      p.margin-top-no
        a.btn.btn-red.waves-attach.waves-button.waves-light.waves-effect(href=' p/proyects') Ver más
