doctype html
html
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    |     
    meta(name='theme-color', content='#D32F2F')
    |     
    title Botgard Web
    |     
    meta(name='description', content='')
    // Materialize CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css')
    // CSS
    link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css')
    |     
    link(rel='stylesheet', href='public/css/plugin.css')
    |     
    link(rel='stylesheet', href='public/css/style.css')
    |     
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    |     
    link(rel='stylesheet', href='node_modules/mdi/css/materialdesignicons.min.css', media='all')
    |     
    link(rel='apple-touch-icon', href='/public/img/app_icon.png')
  body#top.scrollspy
    // Pre Loader
    #loader-wrapper
      #loader
      |     
      .loader-section.section-left
      |     
      .loader-section.section-right
    
    //-INCLUDE HEADER------>
    include ./header/template.jade
    //-INCLUDE INTRO------>
    include ./intro/template.jade    
    //-INCLUDE WORK------>
    include ./work/template.jade
    //-INCLUDE PARALLAX------>
    include ./parallax/template.jade
    //-INCLUDE ABILITIES------>
    include ./abilities/template.jade
    // Team
    //-INCLUDE TEAM------>
    include ./team/template.jade
    //-INCLUDE FOOTER------>
    include ./footer/template.jade
    // Scripts
    script(src='public/js/min/plugin-min.js')
    |     
    script(src='public/js/min/custom-min.js')
    // Materialize JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js')
