/*--------------------------------------------------------------
>>> TABLE OF CONTENTS
----------------------------------------------------------------
1.0 Default Colors
2.0 Containers
3.0 Cards
4.0 Progress bar
5.0 Media Queries
6.0 Keyframes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Color
--------------------------------------------------------------*/

.default_color
  background-color #F44336 !important

.default_color_text
  color #F44336 !important

.icon-block
    padding 0 15px


#intro, #work, #team, #habilidades
  padding-top  4rem


#index-banner
    min-height  632px
    max-height  864px
    position  relative
    background  url(../img/14-23.png) center no-repeat

#index-banner .container h3
    font-weight 100px

.pages-red #index-banner
    background  url(../img/bg/red.jpg) no-repeat
    background-size  cover
    min-height  300px

.pages-yellow #index-banner
    background  url(../img/bg/yellow.jpg) no-repeat
    background-size  cover
    min-height  300px

.pages-blue #index-banner
    background  url(../img/bg/blue.jpg) no-repeat
    background-size  cover
    min-height  300px

.pages-blue #index-banner
    background  url(../img/bg/green.jpg) no-repeat
    background-size  cover
    min-height  300px

.pages-blue #index-banner
    background  url(../img/bg/alt.jpg) no-repeat
    background-size  cover
    min-height  300px


#nav_f
    box-shadow  none !important
    -webkit-box-shadow none !important


.text_h
    padding  15% 0
    font-size  6.0em
    font-weight  100
    color white


.brand-logo
    position  absolute
    color  #fff
    display  inline-block
    font-size  2.1rem
    font-style  normal
    font-weight  100
    padding  0
    letter-spacing  7px


img.logo
    max-width  100%
    width  25%


.text_h2
  font-weight  100
  margin-bottom  4%
  line-height  4.5rem

.span_h2
  font-weight  300
  color  #F44336

.text_b
  color  #F44336

.in
  font-weight  400 !important
  font-style  normal !important

.promo i
    color  #F44336
    font-size  7rem
    display  block

.card-content a
  color  #F44336

.card-content a hover
  color  #F44336

#work, #team
  background  rgb(247, 247, 247)

.text_pink
  color #EF9A9A

nav ul a
    font-size  1.2rem
    color  #FFF
    letter-spacing  2px
    display  block
    font-weight  300
    padding  0px 15px


.cd-headline.type .cd-words-wrapper
    vertical-align  top
    overflow  hidden


.cd-headline.type .cd-words-wrapper  after
    /* vertical bar */
    content  ''
    position  absolute
    right  0
    top  50%
    bottom  auto
    -webkit-transform  translateY(-50%)
    -moz-transform  translateY(-50%)
    -ms-transform  translateY(-50%)
    -o-transform  translateY(-50%)
    transform  translateY(-50%)
    height  90%
    width  1px
    background-color  #aebcb9


.cd-headline.type .cd-words-wrapper.waiting  after
    -webkit-animation  cd-pulse 1s infinite
    -moz-animation  cd-pulse 1s infinite
    animation  cd-pulse 1s infinite

.cd-headline.type .cd-words-wrapper.selected
    background-color  #FFF


.cd-headline.type .cd-words-wrapper.selected  after
    visibility  hidden


.cd-headline.type .cd-words-wrapper.selected b
    color  #F44336


.cd-headline.type b
    visibility  hidden


.cd-headline.type b.is-visible
    visibility  visible


.cd-headline.type i
    position  absolute
    visibility  hidden

.cd-headline.type i.in
    position  relative
    visibility  visible


@-webkit-keyframes cd-pulse
    0%
        -webkit-transform  translateY(-50%) scale(1)
        opacity  1

    40%
        -webkit-transform  translateY(-50%) scale(0.9)
        opacity  0

    100%
        -webkit-transform  translateY(-50%) scale(0)
        opacity  0


@-moz-keyframes cd-pulse
    0%
        -moz-transform  translateY(-50%) scale(1)
        opacity  1

    40%
        -moz-transform  translateY(-50%) scale(0.9)
        opacity  0

    100%
        -moz-transform  translateY(-50%) scale(0)
        opacity  0



@keyframes cd-pulse
    0%
        -webkit-transform  translateY(-50%) scale(1)
        -moz-transform  translateY(-50%) scale(1)
        -ms-transform  translateY(-50%) scale(1)
        -o-transform  translateY(-50%) scale(1)
        transform  translateY(-50%) scale(1)
        opacity  1

    40%
        -webkit-transform  translateY(-50%) scale(0.9)
        -moz-transform  translateY(-50%) scale(0.9)
        -ms-transform  translateY(-50%) scale(0.9)
        -o-transform  translateY(-50%) scale(0.9)
        transform  translateY(-50%) scale(0.9)
        opacity  0

    100%
        -webkit-transform  translateY(-50%) scale(0)
        -moz-transform  translateY(-50%) scale(0)
        -ms-transform  translateY(-50%) scale(0)
        -o-transform  translateY(-50%) scale(0)
        transform  translateY(-50%) scale(0)
        opacity  0




/* Preloader */
#preloader
    position  fixed
    top 0
    left 0
    right 0
    bottom 0
    background-color #fff /* change if the mask should have another color then white */
    z-index 1200 /* makes sure it stays on top */


#status
    width 200px
    height 200px
    position absolute
    left 50% /* centers the loading animation horizontally one the screen */
    top 50% /* centers the loading animation vertically one the screen */
    background-image url(../img/status.gif) /* path to your loading animation */
    background-repeat no-repeat
    background-position center
    margin -100px 0 0 -100px /* is width and height divided by two */


@media only screen and (max-width  480px)
    .text_h
        padding  4% 0
        font-size  5em
        font-weight  100
        color  white



input, textarea
    border-bottom  1px solid #fff


nav a.button-collapse
    left  -25px


.card-avatar .waves-effect
    text-align  center
/*    margin-top  20px*/


.card-avatar img
    height  150px
    width  150px
/*    border-radius  75px*/


.card-avatar .card-content
    text-align  center


.card .card-content p
    margin  15px 0px


.card-avatar .card-content i
   font-size  1.5rem


.card-avatar .card-content .card-title
    line-height  30px !important


.parallax-container
    max-height  400px


footer.page-footer
    margin-top  0px !important
    background  #607D8B


i.fa
    border  1px solid white
    border-radius  100%
    width  2em
    height  2em
    text-align  center
    line-height  2em
    font-size  2em

.demo-card-square.mdl-card
  width  250px
  height  400px

#work .card
  margin  0

.demo-card-square > .mdl-card__title
  color  #fff

#team .container .row
  display  flex
  flex-flow  row wrap
  justify-content  center

.mdl-card
  margin  10px 5px

#team .container
  width  100%

.pages .col
  width  100%

#work .container
  width  100%

#work .container .row
  display  flex
  flex-flow  row wrap
  justify-content  center


.progress
  background-color  #b2dbfb
  height  4px
  margin-top  24px
  margin-bottom  24px
  overflow  hidden
  position  relative

  &-bar
    background-color  #2196F3
    border-radius  0 1px 1px 0
    height  100%
    position  absolute
    top  0
    left  0
    -webkit-transition  width 0.3s cubic-bezier(0.4, 0, 0.2, 1)
    transition  width 0.3s cubic-bezier(0.4, 0, 0.2, 1)

  &-alt
    background-color  #c8e6c9

  &-alt &-bar
    background-color  #4caf50

  &-indigo
    background-color  #c5cae9

  &-indigo &-bar
    background-color  #3f51b5

  &-teal
    background-color  #B2DFDB

  &-teal &-bar
    background-color  #009688

  &-green
    background-color  #b2dfdb

  &-green &-bar
    background-color  #009688

  &-purple
    background-color  #e1bee7

  &-purple &-bar
    background-color  #9c27b0

  &-deeppurple
    background-color  #D1C4E9

  &-deeppurple &-bar
    background-color  #673AB7

  &-red
    background-color  #ffcdd2

  &-red &-bar
    background-color  #f44336

  &-orange
    background-color  #FFCCBC

  &-orange &-bar
    background-color  #FF5722

  &-pink
    background-color  #F8BBD0

  &-pink &-bar
    background-color  #E91E63

  &-yellow
    background-color  #ffecb3

  &-yellow &-bar
    background-color  #ffc107

.habilidades
  display flex
  flex-flow row wrap

.habilidad
  width 50%
  padding .5em


@media screen and (max-width  750px)
  #team .container
    width 85%

  #team .container .row
    display flex
    flex-wrap wrap
    justify-content center

  .mdl-card
    margin 10px 25px


@media only screen and (min-width  993px)
  .row .col.l6
    width 100%

@media only screen and (max-width 992px)
  .right
    display none
