.container
  h2.header.text_b(style='text-align:center')  BotgardTeam 
  |         
  .row
    .mdl-card.mdl-shadow--2dp.demo-card-square
      .mdl-card__title.mdl-card--expand(style="background: url('public/img/CEO.png') bottom right 0% no-repeat #D32F2F;")
        h2.mdl-card__title-text Diego Quiroz
      |                 
      .mdl-card__supporting-text
        | CEO & Frontend
      |                 
      .mdl-card__actions.mdl-card--border
        ul(style='display:flex;flex-direction:row;display:-webkit-flex;-webkit-flex-direction:row')
          li
            a.btn-social.btn-outline(href='http://dquiroz.com', data-toggle='tooltip', data-placement='top', title='Github')
              i.fa.fa-fw.fa-safari.fa-2x(style='color:black')
          |                         
          li
            a.btn-social.btn-outline(href='https://github.com/diegoquiroz', data-toggle='tooltip', data-placement='top', title='Web')
              i.fa.fa-fw.fa-github.fa-2x(style='color:black')
          |                         
          li
            a.btn-social.btn-outline(href='http://twitter.com/godiegoq', title='Twitter')
              i.fa.fa-fw.fa-twitter.fa-2x(style='color:black')
          |                         
          li
            a.btn-social.btn-outline(href='mailto:diego00aq@gmail.com', title='Email')
              i.fa.fa-fw.fa-envelope.fa-2x(style='color:black')
    |                         
    .mdl-card.mdl-shadow--2dp.demo-card-square
      .mdl-card__title.mdl-card--expand(style="background: url('public/img/COO.png') bottom right 0% no-repeat #D32F2F;")
        h2.mdl-card__title-text Amstrong Monachello
      |                 
      .mdl-card__supporting-text
        | COO & iOS Dev
      |                 
      .mdl-card__actions.mdl-card--border
        ul(style='display:flex;flex-direction:row;display:-webkit-flex;-webkit-flex-direction:row')
          li
            a.btn-social.btn-outline(href='http://amstrongmonachello.com', data-toggle='tooltip', data-placement='top', title='Web')
              i.fa.fa-fw.fa-safari.fa-2x(style='color:black')
          |                         
          li
            a.btn-social.btn-outline(href='https://github.com/amstrong', data-toggle='tooltip', data-placement='top', title='Github')
              i.fa.fa-fw.fa-github.fa-2x(style='color:black')
          |                         
          li
            a.btn-social.btn-outline(href='http://twitter.com/amstrongm29', title='Twitter')
              i.fa.fa-fw.fa-twitter.fa-2x(style='color:black')
          |                         
          li
            a.btn-social.btn-outline(href='mailto:amstrongmonachello@gmail.com', title='Email')
              i.fa.fa-fw.fa-envelope.fa-2x(style='color:black')
    |             
    .mdl-card.mdl-shadow--2dp.demo-card-square
      .mdl-card__title.mdl-card--expand(style="background: url('public/img/Designer.png') bottom right 0% no-repeat #D32F2F;")
        h2.mdl-card__title-text Juli&aacute;n G&oacute;mez
      |                 
      .mdl-card__supporting-text
        | Designer
      |                 
      .mdl-card__actions.mdl-card--border
        ul(style='display:flex;flex-direction:row;display:-webkit-flex;-webkit-flex-direction:row')
          li
            a.btn-social.btn-outline(href='http://axinendesign.com', data-toggle='tooltip', data-placement='top', title='Web')
              i.fa.fa-fw.fa-safari.fa-2x(style='color:black')
          |                         
          li
            a.btn-social.btn-outline(href='http://twitter.com/godiegoq', title='Twitter')
              i.fa.fa-fw.fa-twitter.fa-2x(style='color:black')
          |                         
          li
            a.btn-social.btn-outline(href='mailto:contacto@axinendesign.com', title='Email')
              i.fa.fa-fw.fa-envelope.fa-2x(style='color:black')
    |                        
    .mdl-card.mdl-shadow--2dp.demo-card-square
      .mdl-card__title.mdl-card--expand(style="background: url('public/img/CIO.png') bottom right 0% no-repeat #D32F2F;")
        h2.mdl-card__title-text Alejandro Vazquez
      |                 
      .mdl-card__supporting-text
        | CIO & Android Dev
      |                 
      .mdl-card__actions.mdl-card--border
        ul(style='display:flex;flex-direction:row;display:-webkit-flex;-webkit-flex-direction:row')
          li
            a.btn-social.btn-outline(href='https://github.com/vazquezalex', data-toggle='tooltip', data-placement='top', title='Github para el puto de Alejandro')
              i.fa.fa-fw.fa-github.fa-2x(style='color:black')
          |                         
          li
            a.btn-social.btn-outline(href='http://twitter.com/_VazquezAlex', title='Twitter')
              i.fa.fa-fw.fa-twitter.fa-2x(style='color:black')
          |                         
          li
            a.btn-social.btn-outline(href='mailto:alejandro_vazquez98@gmail.com', title='Email')
              i.fa.fa-fw.fa-envelope.fa-2x(style='color:black')
