// Navigation
.navbar-fixed
  nav#nav_f.default_color(role='navigation')
    .container
      .nav-wrapper
        a#logo-container.brand-logo(href='#top', style='text-align:center') Botgard
        |               
        ul.right(style='font-size:14px;line-height:64px')
          li
            a(href='http://botgard.com') Inicio
          |                   
          li
            a(href='http://blog.botgard.com') Blog
          |                   
          li
            a(href='http://botgard.com/p/work') Work
          |                   
          li
            a(href='mailto:HelloBotgard@Gmail.com') Contacto
        |               
        ul#nav-mobile.side-nav(style='font-size:14px;line-height:64px')
          li
            a(href='http://botgard.com') Inicio
          |                   
          li
            a(href='http://blog.botgard.com') Blog
          |                   
          li
            a(href='http://botgard.com/p/work') Work
          |                   
          li
            a(href='mailto:HelloBotgard@Gmail.com') Contacto
        |               
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.mdi.mdi-menu
