// Intro and service
.container
  .row
    .col.s12
      h2.center.header.text_h2
        | Botgard es un nucleo de diferentes webs las cuales se encargan de diversas funciones y son ejecutadas con 
        span.span_h2  Amor
    |             
    .col.s12.m4.l4
      .center.promo.promo-example
        i.mdi.mdi-code-array
        |                     
        h5.promo-caption Dev
        |                     
        p.light.center
          | Las aplicaciones m&oacute;viles y web han cambiado la manera en que vivimos, y en Botgard estamos comprometidos a apoyar ese cambio.
    |             
    .col.s12.m4.l4
      .center.promo.promo-example
        i.mdi.mdi-material-ui
        |                     
        h5.promo-caption Design
        |                     
        p.light.center
          | Creemos que el arte es una parte esencial en la vida, es por eso que en Botgard te traemos el mejor material en dise&ntilde;o.
    |             
    .col.s12.m4.l4
      .center.promo.promo-example
        i.mdi.mdi-newspaper
        |                     
        h5.promo-caption Blog
        |                     
        p.light.center Logramos que leas las noticias como si estuvieras en el lugar de los hechos.
