header
      // Navigation
      .navbar-fixed
        nav#nav_f.default_color(role='navigation')
          .container
            .nav-wrapper
              a#logo-container.brand-logo(href='#top', style='text-align:center') Botgard
              |               
              ul.right(style='font-size:14px;line-height:64px')
                li
                  a(href='http://botgard.com') Inicio
                |                   
                li
                  a(href='http://blog.botgard.com') Blog
                |                   
                li
                  a(href='p/dev') Dev
                |                   
                li
                  a(href='p/contact') Contacto
              |               
              ul#nav-mobile.side-nav(style='font-size:14px;line-height:64px')
                li
                  a(href='http://botgard.com') Inicio
                |                   
                li
                  a(href='http://blog.botgard.com') Blog
                |                   
                li
                  a(href='p/dev') Dev
                |                   
                li
                  a(href='p/contact') Contacto
              |               
              a.button-collapse(href='#', data-activates='nav-mobile')
                i.mdi.mdi-menu
      // Hero
      #index-banner.section.no-pad-bot
        .container
          h1.text_h.center.header.cd-headline.letters.type
            span Botgard
            |               
            span
              h3 Web - Dev - Blog
          |           
          .scroll-down(style='text-align:center')
            a.btn-floating.btn-large.waves-effect.waves-ripple.red(href='#intro')
              i.mdi.mdi-arrow-down
